[submodule "services/gateway_service"]
	path = services/gateway_service
	url = git@github.com:RideTrip-tour/gateway-service.git
	branch = main

[submodule "services/auth-service"]
	path = services/auth-service
	url = git@github.com:RideTrip-tour/auth-service.git
	branch = main