[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/RideTrip-tour/auth-service.git
	branch = main
[submodule "services/gateway-service"]
	path = services/gateway-service
	url = https://github.com/RideTrip-tour/gateway-service
